.owl-theme .owl-controls{
    text-align: center;
    margin-top: 30px;
}


.owl-theme .owl-controls .owl-buttons div{
    color: gainsboro;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    /*margin: -100px;*/
    padding: 3px 0px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: gainsboro;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 1.3;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.owl-prev{
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent url(../images/prev.png) no-repeat center center !important;
    top: 50%;
}
.owl-next{
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent url(../images/next.png) no-repeat center center !important;
    top: 50%;
}

.owl-nav-sticky-extra-wide .owl-prev{
    left: -50px;
}
.owl-nav-sticky-extra-wide .owl-next{
    right: -50px;
}






